
@{
    ViewBag.Title = "Exercise1";
}

<style>
    #col1 .row {
        border-style: inset;
        border-width: 13px;
        border-color: fuchsia;
    }

    #col2 .row {
        border-style: ridge;
        border-width: 15px;
        border-color: tomato;
    }

    #col3 .row {
        border-style: groove;
        border-color: #0f2AB3;
        border-width: 10px;
    }

</style>

<h1>Bootstrap Grid System</h1>
<!-- Layout a Bootstrap grid -->
<div class="container">
    <div class="col-lg-4" id="col1">
        <div class="row">
            <div class="col-xs-4">4</div>
            <div class="col-xs-4">4</div>
            <div class="col-xs-4">4</div>
        </div>
        <div class="row">
            <div class="col-xs-6">6</div>
            <div class="col-xs-6">6</div>
        </div>
        <div class="row">
            <div class="col-xs-12">12</div>
        </div>
    </div>
    <div class="col-lg-4" id="col2">
        <div class="row">
            <div class="col-xs-3">3</div>
            <div class="col-xs-3">3</div>
            <div class="col-xs-3">3</div>
            <div class="col-xs-3">3</div>
        </div>
    </div>
    <div class="col-lg-4" id="col3">
        <div class="row">
            <div class="col-xs-8">8</div>
            <div class="col-xs-4">4</div>
        </div>
        <div class="row">
            <div class="col-xs-6">6</div>
            <div class="col-xs-3">3</div>
            <div class="col-xs-3">3</div>
        </div>
        <div class="row">
            <div class="col-xs-2">2</div>
            <div class="col-xs-3">3</div>
            <div class="col-xs-2">2</div>
            <div class="col-xs-3">3</div>
            <div class="col-xs-2">2</div>
        </div>
        <div class="row">
            <div class="col-xs-1">1</div>
            <div class="col-xs-1">1</div>
            <div class="col-xs-1">1</div>
            <div class="col-xs-1">1</div>
            <div class="col-xs-1">1</div>
            <div class="col-xs-1">1</div>
            <div class="col-xs-1">1</div>
            <div class="col-xs-1">1</div>
            <div class="col-xs-1">1</div>
            <div class="col-xs-1">1</div>
            <div class="col-xs-1">1</div>
            <div class="col-xs-1">1</div>
        </div>
    </div>
</div>

